body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
}

.App {
  width: 50%;
  margin: auto;

}

.content {
  border: 1px solid;
  border-radius: 6px;
  padding: 10px;
}

.element {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  border: 1px solid;
  padding: 10px;
  border-radius: 8px;
  align-items: center;
}

.element>span {
  flex: 1;
  margin-left: 8px;
}

.element>input {
  transform: scale(1.4);
}

.element>button {
  border: none;
  background-color: rgb(226, 126, 64);
  color: #fff;
  width: 140px;
  height: 25px;
  border-radius: 5px;
  cursor: pointer;
}